body {
    font-family: sans-serif;
    background: linear-gradient(20deg,white, green,white,green);
    margin: 0;
    padding: 0;
}

header {
    background: rgb(24, 78, 24);
    color:white;
    padding: 15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header h2 {
    margin: 0;
}
.logo{
  width:36px; height:36px; border-radius:10px; background:#fff1;
  display:grid; place-items:center;
  border:1px solid #ffffff29;
}

.status {
    font-size:0.9rem;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 5px;
}

main {
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
main h3{
    margin-top: 0;
    color: green;
}
form {
    display:flex;
    flex-direction: column;
}
label {
    margin-top: 12px;
    font-weight: bold;
}

input, select, textarea {
    padding: 8px;
    margin-top: 5px;
    border:1px solid #ccc;
    border-radius: 4px;
}

.dropzone {
    margin-top: 5px;
    padding: 20px;
    border: 2px dashed green;
    border-radius: 4px;
    background: #defcde;
    text-align: center;
    color: #333;
}
button.secondary {
    background: #fff;
    color:green;
    border: 1px solid green;
    margin-top: 10px;

}
button {
    background: green;
    color:white;
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 1rem;
    transition: transform 0.1s ease;
}
button:active {
    transform: scale(1.03);
}
button:hover {
    cursor:pointer;
    
}
button#postBtn:hover {
    cursor:pointer;
}
button.secondary:hover {
    background: #defcde;
}
footer {
    background: rgb(24, 78, 24);
    color:white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 0.9rem;
}
.fa-plus{
    margin-right: 8px;
}
.fa-arrow-up-from-bracket{
    margin-right: 8px;
    padding-bottom: 5px;
    color: green;
    cursor:pointer;
}